In [1]:
import pandas as pd
import os

In [5]:
pwd

'C:\\Users\\horne\\PythonDatasets'

In [7]:
df = pd.read_csv('healtcare_stroke_data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [23]:
def categorize_age(age):
    if age <= 35:
        return 'Young'
    elif 36 <= age <= 60:
        return 'Middle-aged'
    else:
        return 'Senior'

In [25]:
df['age_category'] = df['age'].apply(categorize_age)

In [27]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_category
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,Senior
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,Senior
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,Senior
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,Middle-aged
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,Senior

In [29]:
residence_counts = df.groupby('Residence_type').size().to_dict()

In [53]:
print(residence_counts)

{'Rural': 2514, 'Urban': 2596}

In [57]:
def get_stroke_risk(row):
    if row['hypertension'] == 1 and row['avg_glucose_level'] > 150:
        return 'High'
    else:
        return 'Low'

In [63]:
df['stroke_risk'] = df.apply(get_stroke_risk, axis=1)

In [67]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_category,stroke_risk
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,Senior,Low
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,Senior,Low
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,Senior,Low
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,Middle-aged,Low
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,Senior,High

In [73]:
# Using boolean indexing to filter rows
filtered_df = df[(df['age'] > 60) & (df['bmi'] < 25) & (df['smoking_status'] == 'never smoked')]

# Printing the IDs of individuals who meet the criteria
for id_value in filtered_df['id']:
    print(f"ID: {id_value} matches the criteria!")

ID: 1665 matches the criteria!
ID: 10434 matches the criteria!
ID: 70822 matches the criteria!
ID: 39373 matches the criteria!
ID: 55927 matches the criteria!
ID: 17013 matches the criteria!
ID: 26727 matches the criteria!
ID: 30456 matches the criteria!
ID: 16817 matches the criteria!
ID: 8045 matches the criteria!
ID: 62861 matches the criteria!
ID: 37060 matches the criteria!
ID: 2548 matches the criteria!
ID: 10552 matches the criteria!
ID: 56357 matches the criteria!
ID: 61837 matches the criteria!
ID: 37031 matches the criteria!
ID: 20546 matches the criteria!
ID: 55424 matches the criteria!
ID: 44300 matches the criteria!
ID: 33528 matches the criteria!
ID: 71010 matches the criteria!
ID: 53010 matches the criteria!
ID: 57879 matches the criteria!
ID: 19681 matches the criteria!
ID: 42550 matches the criteria!
ID: 62756 matches the criteria!
ID: 34728 matches the criteria!
ID: 69177 matches the criteria!
ID: 62284 matches the criteria!
ID: 22488 matches the criteria!
ID: 43905 matches the criteria!
ID: 32459 matches the criteria!
ID: 49341 matches the criteria!
ID: 72474 matches the criteria!
ID: 66818 matches the criteria!
ID: 14481 matches the criteria!
ID: 8470 matches the criteria!
ID: 26826 matches the criteria!
ID: 3591 matches the criteria!
ID: 42465 matches the criteria!
ID: 42229 matches the criteria!
ID: 49014 matches the criteria!
ID: 28309 matches the criteria!
ID: 14889 matches the criteria!
ID: 31746 matches the criteria!
ID: 66677 matches the criteria!
ID: 36589 matches the criteria!
ID: 9026 matches the criteria!
ID: 12336 matches the criteria!
ID: 63457 matches the criteria!
ID: 5505 matches the criteria!
ID: 72819 matches the criteria!
ID: 15070 matches the criteria!
ID: 68568 matches the criteria!
ID: 259 matches the criteria!
ID: 17697 matches the criteria!
ID: 47321 matches the criteria!
ID: 17771 matches the criteria!
ID: 4964 matches the criteria!
ID: 47917 matches the criteria!
ID: 69379 matches the criteria!
ID: 72354 matches the criteria!
ID: 15241 matches the criteria!
ID: 69750 matches the criteria!
ID: 53897 matches the criteria!
ID: 59801 matches the criteria!
ID: 8983 matches the criteria!
ID: 62791 matches the criteria!
ID: 53552 matches the criteria!
ID: 22860 matches the criteria!
ID: 45260 matches the criteria!
ID: 12807 matches the criteria!
ID: 47113 matches the criteria!
ID: 69732 matches the criteria!
ID: 38207 matches the criteria!
ID: 711 matches the criteria!
ID: 5987 matches the criteria!
ID: 72215 matches the criteria!
ID: 54400 matches the criteria!
ID: 56021 matches the criteria!
ID: 29172 matches the criteria!
ID: 5387 matches the criteria!
ID: 27509 matches the criteria!
ID: 12037 matches the criteria!
ID: 40850 matches the criteria!
ID: 57757 matches the criteria!
ID: 48109 matches the criteria!

In [75]:
def categorize_glucose_lv(avg_glucose_level):
    if avg_glucose_level <= 100:
        return 'Normal'
    elif 101 <= avg_glucose_level <= 125:
        return 'Prediabetes'
    else:
        return 'Diabetes'

In [79]:
df['diabetes_category'] = df['avg_glucose_level'].apply(categorize_glucose_lv)
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,age_category,stroke_risk,diabetes_category
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,Senior,Low,Diabetes
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,Senior,Low,Diabetes
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,Senior,Low,Prediabetes
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,Middle-aged,Low,Diabetes
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,Senior,High,Diabetes